version: '3.8'
services:
  redis:
    image: redis:7-alpine
    container_name: downloader_redis
    restart: always
    command: redis-server --appendonly yes --maxmemory 300mb --maxmemory-policy allkeys-lru
    network_mode: "host" # Contabo ulanishi uchun 6379 porti ochiq bo'lishi kerak

  postgres:
    image: postgres:15-alpine
    container_name: downloader_db
    restart: always
    env_file: ./app/.env
    network_mode: "host" # Contabo ulanishi uchun 5432 porti ochiq bo'lishi kerak

  downloader-bot:
    build: .
    container_name: tg_bot_gateway
    restart: always
    network_mode: "host"
    environment:
      - REDIS_HOST=127.0.0.1
      # Bu yerda CONTABO_IP_MANZILI ni o'rniga haqiqiy IP ni yozing
      - CELERY_BROKER_URL=amqp://admin:password@164.68.103.67:5672// 
      - CELERY_RESULT_BACKEND=redis://127.0.0.1:6379/1 
    env_file: ./app/.env

  telegram-bot-api:
    image: aiogram/telegram-bot-api:latest
    container_name: telegram_bot_api
    network_mode: "host"
    command: --local --dir /var/lib/telegram-bot-api --temp-dir /dev/shm