version: '3.8'

services:
  redis:
    image: redis:7-alpine
    container_name: downloader_redis
    restart: always
    volumes:
      - ./redis_data_dir:/data
    command: redis-server --appendonly yes --maxmemory 1gb --maxmemory-policy allkeys-lru
    # Host network bilan ishlaganda portlar avtomatik localhostda bo'ladi
    network_mode: "host" 
    
  postgres:
    image: postgres:15-alpine
    container_name: downloader_db
    restart: always
    env_file:
      - ./app/.env
    volumes:
      - ./pg_data:/var/lib/postgresql/data
    network_mode: "host"

  admin_panel:
    build: .
    container_name: downloader_admin
    restart: always
    command: uvicorn admin_panel:app --host 0.0.0.0 --port 8000
    volumes:
      - .:/app
      - /dev/shm:/dev/shm
    env_file:
      - ./app/.env
    network_mode: "host"
    depends_on:
      - postgres
    environment:
      - DATABASE_URL=postgresql://postgres:postgres_pass@127.0.0.1:5432/downloader_db

  downloader-bot:
    build: .
    container_name: ${CONTAINER_NAME}
    restart: always
    network_mode: "host"
    depends_on:
      - redis
      - postgres
    # Resurslarni boshqarish (Swarm bo'lmasa ham Docker buni tushunadi)
    deploy:
      resources:
        limits:
          cpus: '4'
          memory: 4G
    volumes:
      - .:/app
      # /dev/shm - RAM diskdan video yuklashda foydalanamiz
      - /dev/shm:/dev/shm
      # Local API bilan fayllarni almashish uchun umumiy volume
      - telegram_bot_api_data:/var/lib/telegram-bot-api
    env_file:
      - ./app/.env
    environment:
      - PYTHONUNBUFFERED=1
      - REDIS_HOST=127.0.0.1 
      - REDIS_PORT=6379
      - DB_HOST=127.0.0.1
      - TEMP_DIR=/dev/shm/tmp  # Vaqtinchalik fayllarni RAM-ga yo'naltiramiz
    ulimits:
      nofile:
        soft: 100000  
        hard: 100000

  telegram-bot-api:
    image: aiogram/telegram-bot-api:latest
    container_name: telegram_bot_api
    restart: always
    # Local API'ga ko'proq yengillik berish uchun network_mode host qilamiz
    network_mode: "host"
    environment:
      - TELEGRAM_API_ID=32927219
      - TELEGRAM_API_HASH=357ba58b52b8970387a61fa400c55544
      - TELEGRAM_LOCAL=true
      - TELEGRAM_STAT=true # Monitoring uchun
    volumes:
      - telegram_bot_api_data:/var/lib/telegram-bot-api
    # Local API serverga ko'rsatilgan papkadan fayllarni o'qishga ruxsat beramiz
    command: --local --dir /var/lib/telegram-bot-api

volumes:
  redis_data:
  postgres_data:
  # Bu volume bot va Local API o'rtasida fayllarni nusxasiz (link orqali) almashishga yordam beradi
  telegram_bot_api_data: