services:
  redis:
    image: redis:7-alpine
    container_name: downloader_redis
    restart: always
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes
    # ports:
    #   - "6390:6390"

  postgres:
    image: postgres:15-alpine
    container_name: downloader_db
    restart: always
    env_file:
      - ./app/.env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  admin_panel:
    build: .
    container_name: downloader_admin
    restart: always
    command: uvicorn admin_panel:app --host 0.0.0.0 --port 8000
    volumes:
      - .:/app
      - /dev/shm:/dev/shm
    env_file:
      - ./app/.env
    ports:
      - "23456:8000"
    depends_on:
      - postgres

  downloader-bot:
    build: .
    container_name: ${CONTAINER_NAME}
    restart: always
    depends_on:
      - redis
      - postgres
    mem_limit: 2g
    mem_reservation: 512m
    volumes:
      - .:/app
      - /dev/shm:/dev/shm
      - ./cookies.txt:/app/cookies.txt  # <-- ENG MUHIMI SHU
    env_file:
      - ./app/.env
    environment:
      - PYTHONUNBUFFERED=1
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    ulimits:
      nofile:
        soft: 100000  
        hard: 100000

volumes:
  redis_data:
  postgres_data:
 
